zig-out
zig-cache
disk.eee
test.eep
test.asm
out.zip
content/disk
content/default.eee
content/emails.eme
content/app.res.obj
**/\>
**/*.mgc
content/asm/eon/
.vscode/
src/images/*
manual/main.pdf
manual/main.me.ps
manual/lol.me
arm_pacman*
plans/plans.plan_*
deps/steam_sdk
IVERSION
neovide*
lol.txt
