/* @theme sandeee-theme */


@font-face {
    font-family: SandEEESans;
    font-size: 32px;
    src: url(http://sandeee.prestosilver.info/font.ttf_);
}

section {
  width: 1280px;
  height: 960px;
  font-size: 40px;
  padding: 40px;
  
}

* {

    font-family: SandEEESans;
}

h1 {
  font-size: 60px;
  color: #09c;
}

h2 {
  font-size: 50px;
}